/* ******************************** app.css ******************************** */
/* ******************************** LINKS ******************************** */
/* 
    


*/
/* ******************************** RESETTING ******************************** */
/* ******************************** VARIABLES ******************************** */
/* ******************************** DEFAULT STYLE ******************************** */
/* ******************************** HEADER ******************************** */
/* ******************************** NAVIGATION ******************************** */
/* ******************************** MAIN ******************************** */
/* ******************************** FOOTER ******************************** */