{%extends 'base.html'%}

{%block main%}
<section>
    <form class="forms"action="" method="POST">
        <h2>{{form_label}}</h2>
        {{form.hidden_tag()}}
        <div class="form-group">
            {{form.title.label(class_='form-label')}}
            {{form.title(class='form-control')}}
            {% if form.title.errors%}
                {% for error in form.title.errors%}
                    <p style="color: red;">{{error}}</p>
                {%endfor%}
            {%endif%}
        </div>
        <div class="form-group">
            {{form.content.label(class_='form-label')}}
            {{form.content(class='form-control')}}
            {% if form.content.errors%}
                {% for error in form.content.errors%}
                    <p style="color: red;">{{error}}</p>
                {%endfor%}
            {%endif%}
        </div>
        <div class="form-group">
            {{form.submit()}}
        </div>
    </form>
</section>
{%endblock%}