<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Space</title>
</head>
<body>
    <header>
        <h1>user space</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{url_for('index')}}">home</a></li>
            <li><a href="{{url_for('register')}}">register</a></li>
            <li><a href="{{url_for('login')}}">login</a></li>
        </ul>
    </nav>
    <main>
        {%block main%}
        {%endblock%}
    </main>
    <footer>
        <section>
            <h3>copyright &copy; 2020</h3>
            <h4>all right are reserved by zuber shekh</h4>
        </section>
    </footer>
</body>
</html>